@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.banner-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background-color: #e02c6d;
  padding: 15px 20px;
  margin: 15px 1px;
  border: none;
  border-radius: 30px;
}
/* nav styles start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  border: 1px solid ridge;
}
.nav-left {
  width: 50%;
}
.nav-left h3 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right p {
  color: #3a3a3a;
  font-weight: 600;
}
/* nav styles end */

/* banner styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.banner-text {
  width: 45%;
}
.banner-text > h1 {
  color: #3a3a3a;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-text > p {
  color: #3a3a3a;
  font-weight: 600;
}
.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 545px;
  background-image: url(./images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 41%;
}
/* banner styles end */

/* our partner section */
.partner-container {
  margin: 10px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.partner {
  text-align: center;
}
/* our partner section end */

/* our collection section */
.collection-container {
  margin: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}
.section-heading {
  color: #3a3a3a;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 70px;
}
.item-card {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.item-name {
  font-size: 1.7;
  font-weight: 500;
  line-height: 40px;
}
.item-price {
  font-size: 1.5rem;
  color: rgba(44, 43, 43, 0.87);
}
.item-desc {
  color: #787885;
  font-size: 0.9rem;
  font-weight: 700;
}
/* our collection section end */

/* featured section */
.featured-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 150px;
}

.featured-text {
  width: 50%;
  padding-top: 30px;
}
.featured-header {
  color: #0a0826;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 60px;
}
.featured-desc {
  color: #6c6c6c;
  font-weight: 700;
  line-height: 28px;
}
/* featured section end */
