@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* nav styles start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  border: 1px solid ridge;
}
.nav-left {
  width: 50%;
}
.nav-left h3 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right p {
  color: #3a3a3a;
  font-weight: 600;
}
/* nav styles end */

/* banner styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.banner-text {
  width: 45%;
}
.banner-text > h1 {
  color: #3a3a3a;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-text > p {
  color: #3a3a3a;
  font-weight: 600;
}
.banner-text > button {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background-color: #e02c6d;
  padding: 10px 20px;
  margin: 15px 1px;
  border: none;
  border-radius: 30px;
}
.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 545px;
  background-image: url(./images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 41%;
}
/* banner styles end */
